### Gradle ###
.gradle
build/
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
bin/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Minecraft Modding ###
run/
**/src/generated/**/.cache/
repo/
